*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container
{
    width:  100%;
    height: 94vh;
    background:#e3f9ff;
    display:flex;
    align-items:center;
    justify-content: center;
}
.calculator
{
    background-color: #3a4452;
    padding: 20px;
    border-radius:10px;
}
.calculator form input
{
    height:60px;
    border:0;
     margin:10px;
    width:60px;
    background:transparent;
    color:white;
    border-radius:10px;
    cursor:pointer;
    font-size:20px;
    box-shadow: -8px -8px 15px rgba(137, 136, 136, 0.1),5px 5px 15px rgba(24, 16, 16, 0.2);
}
#equal
{
 width:145px;
 
}
#tex{
    width:95%;
    box-shadow:none;
    color:#fff;
    /* justify-content: flex-end; */
    text-align: end;
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    .container {
        background:linear-gradient(120deg,rgb(52,78,96)0%,rgb(167, 226, 201)30%,rgb(212, 116, 125)100%);
  }
  /* .calculator
  {
    width:100%;
    height:100vh;


  } */
}
.name{
    width:100%;
    height:60px;
    background-color: rgb(193, 107, 192);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#fff;
    font-weight: bold;
}